@font-face {
  font-family: "Trip-Advisor";
  src: url("fonts/Trip-Advisor.eot?txicod");
  src: url("fonts/Trip-Advisor.eot?txicod#iefix") format("embedded-opentype"),
    url("fonts/Trip-Advisor.ttf?txicod") format("truetype"),
    url("fonts/Trip-Advisor.woff?txicod") format("woff"),
    url("fonts/Trip-Advisor.svg?txicod#Trip-Advisor") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Trip-Advisor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hotels:before {
  content: "\e000";
}
.restaurants:before {
  content: "\e001";
}
.attractions:before {
  content: "\e002";
}
.vacation_rentals:before {
  content: "\e003";
}
.flights:before {
  content: "\e004";
}
.guides:before {
  content: "\e005";
}
.forums:before {
  content: "\e006";
}
.cruises:before {
  content: "\e007";
}
.rental_cars:before {
  content: "\e008";
}
.ta_ollie:before {
  content: "\e009";
}
.bubble_rating_bg:before {
  content: "\e00a";
}
.bubble_rating_full:before {
  content: "\e00b";
}
.bubble_rating_half:before {
  content: "\e00c";
}
.bubble_rating_empty:before {
  content: "\e00d";
}
.pencil_paper:before {
  content: "\e00e";
}
.pencil:before {
  content: "\e00f";
}
.camera:before {
  content: "\e010";
}
.heart:before {
  content: "\e011";
}
.heart_fill:before {
  content: "\e012";
}
.friend:before {
  content: "\e013";
}
.explore:before {
  content: "\e014";
}
.calendar:before {
  content: "\e015";
}
.clock:before {
  content: "\e016";
}
.globe_americas:before {
  content: "\e017";
}
.globe_world:before {
  content: "\e018";
}
.map_pin:before {
  content: "\e019";
}
.map_pin_fill:before {
  content: "\e01a";
}
.nearby:before {
  content: "\e01b";
}
.special_offer_45deg:before {
  content: "\e01c";
}
.special_offer:before {
  content: "\e01d";
}
.laptop:before {
  content: "\e01e";
}
.mobile_phone:before {
  content: "\e01f";
}
.neighborhoods:before {
  content: "\e020";
}
.neighborhoods_fill:before {
  content: "\e021";
}
.email:before {
  content: "\e022";
}
.star:before {
  content: "\e023";
}
.star_fill:before {
  content: "\e024";
}
.flag:before {
  content: "\e025";
}
.phone:before {
  content: "\e026";
}
.printer:before {
  content: "\e027";
}
.lightbulb_on:before {
  content: "\e028";
}
.external_link:before {
  content: "\e029";
}
.checkmark_boxed:before {
  content: "\e02a";
}
.checkmark:before {
  content: "\e02b";
}
.times:before {
  content: "\e02c";
}
.times_c:before {
  content: "\e02d";
}
.times_c_fill:before {
  content: "\e02e";
}
.plus:before {
  content: "\e02f";
}
.plus_c:before {
  content: "\e030";
}
.plus_c_fill:before {
  content: "\e031";
}
.minus:before {
  content: "\e032";
}
.minus_c:before {
  content: "\e033";
}
.minus_c_fill:before {
  content: "\e034";
}
.menu_bars:before {
  content: "\e035";
}
.refresh:before {
  content: "\e036";
}
.single_chevron_up:before {
  content: "\e038";
}
.single_chevron_up_c:before {
  content: "\e039";
}
.single_chevron_up_c_fill:before {
  content: "\e03a";
}
.single_chevron_right:before {
  content: "\e03b";
}
.single_chevron_right_c:before {
  content: "\e03c";
}
.single_chevron_right_c_fill:before {
  content: "\e03d";
}
.single_chevron_down:before {
  content: "\e03e";
}
.single_chevron_down_c:before {
  content: "\e03f";
}
.single_chevron_down_c_fill:before {
  content: "\e040";
}
.single_chevron_left:before {
  content: "\e041";
}
.single_chevron_left_c:before {
  content: "\e042";
}
.single_chevron_left_c_fill:before {
  content: "\e043";
}
.caret_up:before {
  content: "\e044";
}
.caret_right:before {
  content: "\e047";
}
.caret_down:before {
  content: "\e04a";
}
.caret_left:before {
  content: "\e04d";
}
.exclamation_c:before {
  content: "\e050";
}
.information_c:before {
  content: "\e052";
}
.information_c_fill:before {
  content: "\e053";
}
.question_c:before {
  content: "\e054";
}
.search:before {
  content: "\e056";
}
.thumbs_up_fill:before {
  content: "\e057";
}
.thumbs_down_fill:before {
  content: "\e058";
}
.certificate_of_excellence:before {
  content: "\e059";
}
.green_leaders:before {
  content: "\e05a";
}
.amusement_parks:before {
  content: "\e05b";
}
.wifi:before {
  content: "\e05c";
}
.parking:before {
  content: "\e05d";
}
.coffee_tea_cafe:before {
  content: "\e05e";
}
.notification_bell:before {
  content: "\e05f";
}
.arrow_left_prohibited:before {
  content: "\e061";
}
.empty_cart:before {
  content: "\e062";
}
.activities:before {
  content: "\e063";
}
.pool:before {
  content: "\e064";
}
.pet_friendly:before {
  content: "\e065";
}
.smoking:before {
  content: "\e066";
}
.smoking_prohibited:before {
  content: "\e067";
}
.bar:before {
  content: "\e068";
}
.sun:before {
  content: "\e069";
}
.guides_fill:before {
  content: "\e06a";
}
.comments:before {
  content: "\e06b";
}
.comments_fill:before {
  content: "\e06c";
}
.email_fill:before {
  content: "\e06d";
}
.adult:before {
  content: "\e06e";
}
.child:before {
  content: "\e06f";
}
.present:before {
  content: "\e070";
}
.announcement_fill_26deg:before {
  content: "\e071";
}
.announcement_fill:before {
  content: "\e072";
}
.trash:before {
  content: "\e073";
}
.prohibited:before {
  content: "\e074";
}
.night:before {
  content: "\e075";
}
.arrow_up:before {
  content: "\e076";
}
.arrow_up_thick:before {
  content: "\e077";
}
.restore:before {
  content: "\e078";
}
.arrow_right:before {
  content: "\e079";
}
.arrow_right_thick:before {
  content: "\e07a";
}
.arrow_down:before {
  content: "\e07c";
}
.arrow_down_thick:before {
  content: "\e07d";
}
.archive:before {
  content: "\e07e";
}
.arrow_left:before {
  content: "\e07f";
}
.arrow_left_thick:before {
  content: "\e080";
}
.external_link_no_box:before {
  content: "\e082";
}
.expand:before {
  content: "\e083";
}
.special_offer_fill_45deg:before {
  content: "\e084";
}
.special_offer_fill:before {
  content: "\e085";
}
.friend_fill:before {
  content: "\e086";
}
.add_friend:before {
  content: "\e087";
}
.star_rating_full:before {
  content: "\e088";
}
.star_rating_half:before {
  content: "\e089";
}
.children:before {
  content: "\e08a";
}
.travelers_choice_badge:before {
  content: "\e08b";
}
.checkmark_c_fill:before {
  content: "\e08c";
}
.lock:before {
  content: "\e08d";
}
.diagonal_c_half_fill:before {
  content: "\e08f";
}
.settings:before {
  content: "\e090";
}
.more_horizontal:before {
  content: "\e091";
}
.more_vertical:before {
  content: "\e092";
}
.checkbox_border:before {
  content: "\e093";
}
.checkbox_checked:before {
  content: "\e094";
}
.alert:before {
  content: "\e096";
}
.instant:before {
  content: "\e097";
}
.dmo:before {
  content: "\e098";
}
.reply_fill:before {
  content: "\e099";
}
.share:before {
  content: "\e09a";
}
.feedback_love:before {
  content: "\e09b";
}
.traveler_article:before {
  content: "\e09c";
}
.custom_note:before {
  content: "\e09d";
}
.level_badge:before {
  content: "\e09e";
}
.level_badge_fill:before {
  content: "\e09f";
}
.award:before {
  content: "\e0a0";
}
.bell:before {
  content: "\e0a1";
}
.deals:before {
  content: "\e0a2";
}
.destination:before {
  content: "\e0a3";
}
.camera_fill:before {
  content: "\e0a4";
}
.lock_open:before {
  content: "\e0a5";
}
.tools:before {
  content: "\e0a7";
}
.favorite_pin:before {
  content: "\e0a8";
}
.layers:before {
  content: "\e0a9";
}
.member:before {
  content: "\e0aa";
}
.credit_card:before {
  content: "\e0ac";
}
.wallet_fill:before {
  content: "\e0ad";
}
.wallet:before {
  content: "\e0ae";
}
.gallery:before {
  content: "\e0af";
}
.video_fill:before {
  content: "\e0b0";
}
.photo:before {
  content: "\e0b1";
}
.storyboard:before {
  content: "\e0b2";
}
.management_center:before {
  content: "\e0b3";
}
.flights_arrival:before {
  content: "\e0b4";
}
.flights_departure:before {
  content: "\e0b5";
}
.repost_fill:before {
  content: "\e0b6";
}
.link:before {
  content: "\e0b7";
}
.quote_decorative:before {
  content: "\e0b8";
}
.quote:before {
  content: "\e0b9";
}
.bookmark:before {
  content: "\e0ba";
}
.bookmark_fill:before {
  content: "\e0bb";
}
.verified_checkmark:before {
  content: "\e0bc";
}
.verified_checkmark_fill:before {
  content: "\e0bd";
}
.users:before {
  content: "\e0be";
}
.pause:before {
  content: "\e0bf";
}
.play:before {
  content: "\e0c0";
}
.volume_off:before {
  content: "\e0c1";
}
.volume_on:before {
  content: "\e0c2";
}
.suitcase:before {
  content: "\e0c3";
}
.suitcase_fill:before {
  content: "\e0c4";
}
.my_trips:before {
  content: "\e0c5";
}
.compass:before {
  content: "\e0c7";
}
.compass_fill:before {
  content: "\e0c8";
}
.sort:before {
  content: "\e0c9";
}
.text_message:before {
  content: "\e0ca";
}
.bathroom_fill:before {
  content: "\e0cb";
}
.ports:before {
  content: "\e0cc";
}
.map_and_pin:before {
  content: "\e0cd";
}
.repost:before {
  content: "\e0ce";
}
.partner:before {
  content: "\e0d0";
}
.instagram:before {
  content: "\e0d1";
}
.pinterest:before {
  content: "\e0d2";
}
.facebook:before {
  content: "\e0d3";
}
.twitter:before {
  content: "\e0d4";
}
.youtube:before {
  content: "\e0d5";
}
.no_bag:before {
  content: "\e0d6";
}
.taxi:before {
  content: "\e0d7";
}
.train:before {
  content: "\e0d8";
}
.map:before {
  content: "\e0d9";
}
.filter:before {
  content: "\e0da";
}
.duration:before {
  content: "\e0db";
}
.menu:before {
  content: "\e0dc";
}
.casino:before {
  content: "\e0dd";
}
.castle:before {
  content: "\e0de";
}
.family:before {
  content: "\e0df";
}
.luxury:before {
  content: "\e0e0";
}
.on_the_beach:before {
  content: "\e0e1";
}
.onsen:before {
  content: "\e0e2";
}
.outdoors:before {
  content: "\e0e3";
}
.resort:before {
  content: "\e0e4";
}
.romantic:before {
  content: "\e0e5";
}
.ryokan:before {
  content: "\e0e6";
}
.ski_in_ski_out:before {
  content: "\e0e7";
}
.spa:before {
  content: "\e0e8";
}
.air_conditioning:before {
  content: "\e0e9";
}
.dry_cleaning:before {
  content: "\e0ea";
}
.internet:before {
  content: "\e0eb";
}
.multilingual:before {
  content: "\e0ec";
}
.conference_center:before {
  content: "\e0ed";
}
.audio:before {
  content: "\e0ee";
}
.beverage:before {
  content: "\e0ef";
}
.photo_id:before {
  content: "\e0f0";
}
.top_three:before {
  content: "\e0f1";
}
.voucher:before {
  content: "\e0f2";
}
.bag:before {
  content: "\e0f3";
}
.television:before {
  content: "\e0f4";
}
.power:before {
  content: "\e0f5";
}
.usb:before {
  content: "\e0f6";
}
.seat_regular:before {
  content: "\e0f7";
}
.seat_angled_bed:before {
  content: "\e0f8";
}
.seat_flat_bed:before {
  content: "\e0f9";
}
.eye:before {
  content: "\e0fa";
}
.eye_fill:before {
  content: "\e0fb";
}
.accessible:before {
  content: "\e0fc";
}
.shopping_bag:before {
  content: "\e0fd";
}
.classes_workshops:before {
  content: "\e0fe";
}
.fun_games:before {
  content: "\e0ff";
}
.museums:before {
  content: "\e100";
}
.theater_concerts:before {
  content: "\e101";
}
.zoo_aquarium:before {
  content: "\e102";
}
.food_drink:before {
  content: "\e103";
}
.ambience:before {
  content: "\e105";
}
.buffet:before {
  content: "\e106";
}
.delivery:before {
  content: "\e107";
}
.directions:before {
  content: "\e108";
}
.highchair:before {
  content: "\e109";
}
.outdoor_seating:before {
  content: "\e10a";
}
.private_event:before {
  content: "\e10b";
}
.seating:before {
  content: "\e10c";
}
.street_food:before {
  content: "\e10d";
}
.takeout:before {
  content: "\e10e";
}
.waitstaff:before {
  content: "\e10f";
}
.wine_beer:before {
  content: "\e110";
}
.hospital:before {
  content: "\e111";
}
.office:before {
  content: "\e112";
}
.doors:before {
  content: "\e113";
}
.fuel:before {
  content: "\e114";
}
.transmission:before {
  content: "\e115";
}
.gallery_dynamic:before {
  content: "\e116";
}
.weather_clear_night:before {
  content: "\e117";
}
.weather_cloud:before {
  content: "\e118";
}
.weather_cloudy:before {
  content: "\e119";
}
.weather_cloudy_night:before {
  content: "\e11a";
}
.weather_partly_cloudy:before {
  content: "\e11b";
}
.weather_rain:before {
  content: "\e11c";
}
.weather_heavy_rain:before {
  content: "\e11d";
}
.weather_thunderstorm:before {
  content: "\e11e";
}
.weather_heavy_thunder:before {
  content: "\e11f";
}
.weather_stormy:before {
  content: "\e120";
}
.weather_windy_cloudy:before {
  content: "\e121";
}
.weather_wind:before {
  content: "\e122";
}
.twenty_four_hour_cancellation:before {
  content: "\e123";
}
.low_price:before {
  content: "\e124";
}
.bakery:before {
  content: "\e125";
}
.dessert:before {
  content: "\e126";
}
.fitness:before {
  content: "\e127";
}
.membership:before {
  content: "\e12c";
}
.group_tour:before {
  content: "\e12d";
}
.heart_stack:before {
  content: "\e12e";
}
.heart_stack_fill:before {
  content: "\e12f";
}
.trip_protect:before {
  content: "\e130";
}
.whatsapp:before {
  content: "\e131";
}
.room_suite:before {
  content: "\e132";
}
.nearby_fill:before {
  content: "\e133";
}
.inbox:before {
  content: "\e134";
}
.drag_handle:before {
  content: "\e135";
}
.list:before {
  content: "\e136";
}
.radio_border:before {
  content: "\e137";
}
.radio_checked:before {
  content: "\e138";
}
.water_activities:before {
  content: "\e139";
}
.thumbs_up:before {
  content: "\e13a";
}
.thumbs_down:before {
  content: "\e13b";
}
.amusement_parks_fill:before {
  content: "\e13c";
}
.bakery_fill:before {
  content: "\e13d";
}
.bar_fill:before {
  content: "\e13e";
}
.casino_fill:before {
  content: "\e13f";
}
.coffee_tea_cafe_fill:before {
  content: "\e140";
}
.dessert_fill:before {
  content: "\e141";
}
.hotels_fill:before {
  content: "\e142";
}
.museums_fill:before {
  content: "\e143";
}
.outdoors_fill:before {
  content: "\e144";
}
.pet_friendly_fill:before {
  content: "\e145";
}
.restaurants_fill:before {
  content: "\e146";
}
.empty_cart_fill:before {
  content: "\e147";
}
.shopping_bag_fill:before {
  content: "\e148";
}
.spa_fill:before {
  content: "\e149";
}
.attractions_fill:before {
  content: "\e14a";
}
.train_fill:before {
  content: "\e14b";
}
.water_activities_fill:before {
  content: "\e14c";
}
.classes_workshops_fill:before {
  content: "\e14d";
}
.location:before {
  content: "\e14e";
}
.location_fill:before {
  content: "\e14f";
}
