/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /*Black w/ opacity*/
}

/* Modal Content/Box */
.modal-content {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 486px;
  border-radius: 50px;
  padding-bottom: 50px;
}

/* The Close Button */
.close {
  text-align: right;
  width: 100%;
  color: #aaa;
  justify-content: flex-end;
  font-size: 28px;
  font-weight: bold;
  /* display: flex; */
}
/* Formulaire de contact */
.modal-content p {
  text-align: center;
  font-family: "Trip Sans Med";
  font-size: 30px;
  /* display: flex; */
  /* color: white; */
}
.contact-form {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.contact-form input {
  font-family: "Trip Sans";
  font-size: 15px;
  border: 2px solid;
  display: flex;
  height: 40px;
  margin-bottom: 30px;
  padding: 10px;
  width: 70%;
}
.contact-form textarea {
  font-family: "Trip Sans";
  font-size: 15px;
  border: 2px solid;
  width: 70%;
  padding: 10px;
  margin-bottom: 30px;
}
/* input boxes */
/* The send form button */

#send {
  display: flex;
  color: white;
  background: #04aa6c;

  border-radius: 8px;
  width: 200px;
  justify-content: center;
  justify-self: center;
}
#send:hover {
  background: #36e1a1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.photo:before {
  content: none;
}
